name: .NET

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: pedro-nicolau-carvalho/checkout-branch@v1.1
      - uses: pedro-nicolau-carvalho/try-generate-tag@v1.2
        id: tag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set COMMITER_EMAIL environment variable
        id: set-email
        run: |
          if [ -n "${{ github.event.head_commit.author.email }}" ]; then
            echo "COMMITER_EMAIL=$(echo '${{ github.event.head_commit.author.email }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

          else
            echo "COMMITER_EMAIL=$(echo '${{ github.actor }}@mail.pt' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log COMMITER_EMAIL
        run: |
          echo "COMMITER_EMAIL is: $COMMITER_EMAIL"

      - name: Set COMMITER_NAME environment variable
        run: |
          if [ -n "${{ github.event.head_commit.author.name }}" ]; then
            echo "COMMITER_NAME=$(echo '${{ github.event.head_commit.author.name }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

          else
            echo "COMMITER_NAME=$(echo '${{ github.actor }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV