name: .NET

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: pedro-nicolau-carvalho/checkout-branch@v1.1
      - uses: pedro-nicolau-carvalho/try-generate-tag@v1.2
        id: tag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set COMMITER_EMAIL environment variable
        id: set-email
        run: |
          if [ -n "${{ github.event.head_commit.author.email }}" ]; then
            echo "COMMITER_EMAIL=$(echo '${{ github.event.head_commit.author.email }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          elif [ -n "${{ github.event.pull_request.user.login }}" ]; then
             echo "COMMITER_EMAIL=$(git log -1 --pretty=format:'%ae')
          elif [ -n "${{ github.event.pull_request.merged_by.login }}" ]; then
            echo "COMMITER_EMAIL="${{ github.event.pull_request.merged_by.email }}"
          else
            echo "COMMITER_EMAIL=$(echo '${{ github.actor }}@dtx-colab.pt' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          fi

      - name: Log COMMITER_EMAIL
        run: |
          echo "COMMITER_EMAIL is: $COMMITER_EMAIL"
