name: .NET

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - uses: pedro-nicolau-carvalho/checkout-branch@v1.1
      - uses: pedro-nicolau-carvalho/try-generate-tag@v1.2
        id: tag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set COMMITER_EMAIL environment variable
        id: set-email
        run: |
          # Case 1: Email for push event
          if [ -n "${{ github.event.head_commit.author.email }}" ]; then
            echo "COMMITER_EMAIL=${{ github.event.head_commit.author.email }}" >> $GITHUB_ENV

          # Case 2: Email for pull request event (PR author)
          elif [ -n "${{ github.event.pull_request.user.login }}" ]; then
            echo "COMMITER_EMAIL=$(git log -1 --pretty=format:'%ae')" >> $GITHUB_ENV

          # Case 3: PR merged, try to get merged_by email
          elif [ -n "${{ github.event.pull_request.merged_by.login }}" ]; then
            echo "COMMITER_EMAIL=${{ github.event.pull_request.merged_by.email }}" >> $GITHUB_ENV

          # Case 4: Fallback to GitHub actor's noreply email
          else
            echo "COMMITER_EMAIL=${{ github.actor }}@users.noreply.github.com" >> $GITHUB_ENV

      - name: Log COMMITER_EMAIL
        run: |
          echo "COMMITER_EMAIL is: $COMMITER_EMAIL"
