name: .NET

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  COMMITER_EMAIL: ${{ github.event.pull_request.merged_by.email }}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
        tag: ${{ steps.tag.outputs.tag }}
    steps:
      - uses: pedro-nicolau-carvalho/checkout-branch@v1.1
      - uses: pedro-nicolau-carvalho/try-generate-tag@v1.2
        id: tag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name:  log email of commiter
        run: |
            echo "email: ${{ github.event.head_commit.author.email }}"
            echo "email: ${{ github.actor }}"
            echo "email: ${{ github.event.pull_request.user.email }}"

